# Java
*.class
*.jar
*.war
*.ear
*.log
hs_err_pid*

# Build
target/
build/

# IDE
.idea/
*.iml
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.properties
!mvnw
!mvnw.cmd