<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <th:block th:fragment="base-styles">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
              rel="stylesheet">

        <link th:href="@{/css/app.css}" rel="stylesheet">
        <link th:href="@{/css/components.css}" rel="stylesheet">
        <link th:href="@{/css/utilities.css}" rel="stylesheet">
    </th:block>

    <th:block th:fragment="page-styles(page)">
        <th:block th:switch="${page}">
            <th:block th:case="'home'">
                <link th:href="@{/css/pages/home.css}" rel="stylesheet">
                <link th:href="@{/css/lists.css}" rel="stylesheet">
            </th:block>
            <th:block th:case="'contacts'">
                <link th:href="@{/css/pages/contact/contacts.css}" rel="stylesheet">
                <link th:href="@{/css/pages/contact/contacts-list.css}" rel="stylesheet">
            </th:block>
            <th:block th:case="'companies'">
                <link th:href="@{/css/pages/company/companies.css}" rel="stylesheet">
                <link th:href="@{/css/pages/company/companies-list.css}" rel="stylesheet">
            </th:block>
            <th:block th:case="'jobtitles'">
                <link th:href="@{/css/pages/jobtitle/jobtitles.css}" rel="stylesheet">
                <link th:href="@{/css/lists.css}" rel="stylesheet">
                <link th:href="@{/css/pages/jobtitle/jobtitles-list.css}" rel="stylesheet">
            </th:block>
            <th:block th:case="'tags'">
                <link th:href="@{/css/pages/tag/tags.css}" rel="stylesheet">
                <link th:href="@{/css/lists.css}" rel="stylesheet">
                <link th:href="@{/css/pages/tag/tags-list.css}" rel="stylesheet">
            </th:block>
            <th:block th:case="'birthdays'">
                <link th:href="@{/css/pages/contact/birthdays.css}" rel="stylesheet">
                <link th:href="@{/css/lists.css}" rel="stylesheet">
            </th:block>
            <th:block th:case="'favorites'">
                <link th:href="@{/css/pages/contact/favorites.css}" rel="stylesheet">
                <link th:href="@{/css/lists.css}" rel="stylesheet">
            </th:block>
            <th:block th:case="'contact-details'">
                <link th:href="@{/css/pages/contact/contact-details.css}" rel="stylesheet">
                <link th:href="@{/css/lists.css}" rel="stylesheet">
            </th:block>
            <th:block th:case="'forms'">
                <link th:href="@{/css/forms.css}" rel="stylesheet">
                <link th:href="@{/css/lists.css}" rel="stylesheet">
            </th:block>
            <th:block th:case="'admin'">
                <link th:href="@{/css/pages/admin.css}" rel="stylesheet">
            </th:block>
            <th:block th:case="'error'">
                <link th:href="@{/css/pages/error.css}" rel="stylesheet">
            </th:block>
            <th:block th:case="'login'">
                <link th:href="@{/css/pages/auth/login.css}" rel="stylesheet">
            </th:block>
            <th:block th:case="'registration'">
                <link th:href="@{/css/pages/auth/registration.css}" rel="stylesheet">
            </th:block>
        </th:block>
    </th:block>
</head>
<body>
</body>
</html>